<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-tabs name="tabs1">
                    <wm-tabpane name="tabpane1">
                        <wm-tabheader name="tabheader1"></wm-tabheader>
                        <wm-tabcontent name="tabcontent1">
                            <wm-composite widget="text" name="composite1">
                                <wm-label class="col-md-2" name="label2"></wm-label>
                                <wm-text name="text1"></wm-text>
                            </wm-composite>
                            <wm-composite widget="text" name="composite2">
                                <wm-label class="col-md-2" name="label3"></wm-label>
                                <wm-text name="text2"></wm-text>
                            </wm-composite>
                            <wm-button name="button1" on-click="GoogleapisInvoke"></wm-button>
                            <wm-label name="label4" caption="bind:Variables.GoogleapisInvoke.dataSet.route.leg.distance.text"></wm-label>
                        </wm-tabcontent>
                    </wm-tabpane>
                </wm-tabs>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>